:root {
  --color1: #4a524f;
  --color2: #5c605b;
  --color3: #6e6e66;
  --color4: #8d897f;
  --color5: #d5cdc3;
}

body {
  background-color: var(--color5);
  align-items: center;
}

#top-spacer {
  height: 6vh;
}

#deviceBody {
  background-color: var(--color2);
  width: 35vw;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

h1 {
  font-family: sans-serif;
  color: var(--color5);
}

#button-row {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.button {
 

  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  
}




#grid {
  display: flex;
  flex-wrap: wrap;
}

.squares {
  /* height: calc(60vw / 4);
  width: calc(60vw / 4); */
  background-color: var(--color3);
  box-sizing: border-box;
  border: 2px solid var(--color2);
}
